top-list {
    
    .item ion-thumbnail ion-img, .item ion-thumbnail img {
        width: 56px !important;
        height: 20% !important;
    }   

    .item ion-thumbnail {
        min-width: 56px;
        min-height: 0px;
    }

    

}
