top-list {
    
    .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
    width: 56px !important;
    height: 20% !important;
    }   

    .item-ios ion-thumbnail {
    min-width: 56px;
    min-height: 0px;
}

}
