page-details-page {

    p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ion-card {
    display: inline; 
    overflow: hidden;
}

.item-ios {
    position: relative;
    padding-left: 16px;
    border-radius: 0;
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    transition: background-color 200ms linear;
}

}
